input {
  color: rgb(146, 42, 172);
  margin: 10px auto;
  border-radius: 15px;
  border: solid 2px #6e607a;
  text-align: center;
  box-shadow: #6e607a;
  outline: none;
}
.currentLoc {
  color: rgb(104, 99, 99);
  font-size: 12px;
  border: 2px solid;
  margin: 5px auto;
  border-radius: 15px;
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(67, 60, 75);
  padding-top: none;
  margin: 0;
}
.current-weather {
  display: block;
  margin-top: 0 auto;
  font-size: 30px;
  height: 60px;
  max-width: 500;
  color: rgb(110, 96, 122);
}

.cloud-icon {
  color: rgb(95, 94, 99);
  font-size: 50px;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
  margin: 0;
}
.message {
  text-align: center;
  padding: 0;
  margin: 5px 10px;
  font-size: 12px;
}

.days {
  color: rgb(110, 96, 122);
  max-width: 70px;
}

.container {
  text-align: center;
  margin: 10px auto;
  box-sizing: border-box;
  border: solid 5px rgb(110, 98, 121);
  max-width: 500px;
  border-radius: 15px;
  padding-bottom: 10px;
}
.day-night {
  color: rgb(104, 99, 99);
  height: 30px;
  margin: 0;
}
.forecast {
  display: list-item;
  list-style-type: none;
  margin: 0 auto;
}
.calendar-icon {
  color: rgb(110, 96, 122);
}
.conditions-now {
  color: rgb(110, 96, 122);
  padding: 20px auto;
  font: italic;
  text-align: center;
}

.fahrenheit:hover {
  cursor: pointer;
  text-decoration: underline;
}
.celcium:hover {
  cursor: pointer;
  text-decoration: underline;
}
.background {
  display: block;
  margin: 0 auto;
  height: 200px;
  border-radius: 15px;
}
.time {
  margin: 0;
}

.col-4 {
  color: rgb(104, 99, 99);
}
#humidity,
#conditions {
  font-style: italic;
}
#link {
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  position: relative;
}
